<md-sidenav-container fullscreen>
	<md-sidenav #sidebar>
		<md-nav-list>
			<a md-list-item
			   [routerLink]="['/'] | localize"
			   routerLinkActive="active"
			   (click)="sidebar.close()">
				{{'MENU.HOME' | translate}}
			</a>
			<a md-list-item
			   [routerLink]="['/about'] | localize"
			   routerLinkActive="active"
			   (click)="sidebar.close()">
				{{'MENU.ABOUT' | translate}}
			</a>
			<a md-list-item
			   [routerLink]="['/contacts'] | localize"
			   routerLinkActive="active"
			   (click)="sidebar.close()">
				{{'MENU.CONTACTS' | translate}}
			</a>
			<hr>
		</md-nav-list>
		<button md-button (click)="sidebar.close()">CLOSE</button>
	</md-sidenav>
	<div>
		<md-toolbar color="primary">
			<button md-icon-button (click)="sidebar.open()">
				<md-icon class="md-24">menu</md-icon>
			</button>
			<div class="app-toolbar">
				<h1>Angular Starter</h1>
				<img class="toolbar-logo" src="/img/angular-logo.svg" alt="Angular Logo" width="40" height="40">
				<div>
					<app-language-switcher></app-language-switcher>
				</div>
			</div>
		</md-toolbar>

		<router-outlet></router-outlet>
	</div>
</md-sidenav-container>
